h1{
color: chartreuse;
background-color: darkgray;
}
#name{
color: darkorange;
background-color: dimgray;

}
.blg-1{
color: dodgerblue;
background-color: lightslategrey;
border: 20px solid crimson;

}
.blg{
color: magenta;
background-color: mintcream;

}